bin/classes/pt/ua/icm/adapters/DeliveryCourierListAdapter.class
bin/classes/pt/ua/icm/bringme/DeliveryOriginFragment$1$1.class
bin/classes/pt/ua/icm/bringme/DeliveryStatusActivity$PlaceholderFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryStatusActivity.class
bin/classes/pt/ua/icm/bringme/DetailsActivity$DownloadTask.class
bin/classes/pt/ua/icm/bringme/DetailsActivity$ParserTask.class
bin/classes/pt/ua/icm/bringme/DetailsActivity.class
bin/classes/pt/ua/icm/bringme/helpers/DirectionsJSONParser.class
bin/dexedLibs/Parse-1.5.0-235ad39844d98994de98931cb596cd44.jar
bin/dexedLibs/android-support-v4-973c475c2079b36c9dd47c37fcbffdb1.jar
bin/dexedLibs/android-support-v7-appcompat-541b3264bd9393831051bfdaf30a8492.jar
bin/dexedLibs/appcompat_v7-e693d7693248294adc7bf448ff03f161.jar
bin/dexedLibs/facebooksdk-3cc1ad108835f7b721453c0776d84dd9.jar
bin/dexedLibs/google-play-services-fdd4710b5b2e00f7367e4c9c96195733.jar
bin/dexedLibs/google-play-services_lib-4125281ce40afbf92e0e70e400363220.jar
bin/BringMe.apk
bin/R.txt
bin/classes.dex
bin/classes/android/support/v7/appcompat/R$color.class
bin/classes/android/support/v7/appcompat/R$dimen.class
bin/classes/android/support/v7/appcompat/R$id.class
bin/classes/android/support/v7/appcompat/R$integer.class
bin/classes/android/support/v7/appcompat/R$layout.class
bin/classes/android/support/v7/appcompat/R$string.class
bin/classes/android/support/v7/appcompat/R$style.class
bin/classes/android/support/v7/appcompat/R$styleable.class
bin/classes/com/facebook/android/R$attr.class
bin/classes/com/facebook/android/R$color.class
bin/classes/com/facebook/android/R$dimen.class
bin/classes/com/facebook/android/R$drawable.class
bin/classes/com/facebook/android/R$id.class
bin/classes/com/facebook/android/R$layout.class
bin/classes/com/facebook/android/R$string.class
bin/classes/com/facebook/android/R$style.class
bin/classes/com/facebook/android/R$styleable.class
bin/classes/com/google/android/gms/R$attr.class
bin/classes/com/google/android/gms/R$color.class
bin/classes/com/google/android/gms/R$drawable.class
bin/classes/com/google/android/gms/R$id.class
bin/classes/com/google/android/gms/R$integer.class
bin/classes/com/google/android/gms/R$string.class
bin/classes/com/google/android/gms/R$styleable.class
bin/classes/pt/ua/icm/adapters/MyArrayAdapter.class
bin/classes/pt/ua/icm/bringme/CourierMenuFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierListFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierMapFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryDestinationFragment$1.class
bin/classes/pt/ua/icm/bringme/DeliveryDestinationFragment$2.class
bin/classes/pt/ua/icm/bringme/DeliveryDestinationFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryDetailsFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryOriginFragment$1.class
bin/classes/pt/ua/icm/bringme/DeliveryOriginFragment$2.class
bin/classes/pt/ua/icm/bringme/DeliveryOriginFragment.class
bin/classes/pt/ua/icm/bringme/FinishRequestDeliveryActivity.class
bin/classes/pt/ua/icm/bringme/HistoryActivity$StableArrayAdapter.class
bin/classes/pt/ua/icm/bringme/HistoryActivity.class
bin/classes/pt/ua/icm/bringme/LoginActivity.class
bin/classes/pt/ua/icm/bringme/MainActivity$1.class
bin/classes/pt/ua/icm/bringme/MainActivity$2.class
bin/classes/pt/ua/icm/bringme/MainActivity$3.class
bin/classes/pt/ua/icm/bringme/MainActivity$4.class
bin/classes/pt/ua/icm/bringme/MainActivity$SectionsPagerAdapter.class
bin/classes/pt/ua/icm/bringme/MainActivity.class
bin/classes/pt/ua/icm/bringme/PackageDetailsFragment.class
bin/classes/pt/ua/icm/bringme/ProfileActivity.class
bin/classes/pt/ua/icm/bringme/R$attr.class
bin/classes/pt/ua/icm/bringme/R$color.class
bin/classes/pt/ua/icm/bringme/R$dimen.class
bin/classes/pt/ua/icm/bringme/R$drawable.class
bin/classes/pt/ua/icm/bringme/R$id.class
bin/classes/pt/ua/icm/bringme/R$integer.class
bin/classes/pt/ua/icm/bringme/R$layout.class
bin/classes/pt/ua/icm/bringme/R$menu.class
bin/classes/pt/ua/icm/bringme/R$string.class
bin/classes/pt/ua/icm/bringme/R$style.class
bin/classes/pt/ua/icm/bringme/R$styleable.class
bin/classes/pt/ua/icm/bringme/RegisterActivity.class
bin/classes/pt/ua/icm/bringme/RequestDeliveryActivity$1.class
bin/classes/pt/ua/icm/bringme/RequestDeliveryActivity$2.class
bin/classes/pt/ua/icm/bringme/RequestDeliveryActivity$SectionsPagerAdapter.class
bin/classes/pt/ua/icm/bringme/RequestDeliveryActivity.class
bin/classes/pt/ua/icm/bringme/RequestMenuFragment.class
bin/classes/pt/ua/icm/bringme/SplashActivity.class
bin/classes/pt/ua/icm/bringme/helpers/FacebookImageLoader.class
bin/dexedLibs/Parse-1.5.0-45e6542fa98121b53e7bbb167a8bf139.jar
bin/dexedLibs/android-support-v4-ef475c86f08bdea48d89f56a6f5a0521.jar
bin/jarlist.cache
bin/resources.ap_
gen/android/support/v7/appcompat/R.java
gen/com/facebook/android/R.java
gen/com/google/android/gms/R.java
gen/pt/ua/icm/bringme/R.java
bin/classes/pt/ua/icm/bringme/DeliveryCourierMapFragment$OnDeliveryListener.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierProfileFragment$1.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierProfileFragment$2.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierProfileFragment$OnDeliveryListener.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierProfileFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryFinishFragment$1.class
bin/classes/pt/ua/icm/bringme/DeliveryFinishFragment$2$1.class
bin/classes/pt/ua/icm/bringme/DeliveryFinishFragment$2.class
bin/classes/pt/ua/icm/bringme/DeliveryFinishFragment$OnDeliveryListener.class
bin/classes/pt/ua/icm/bringme/DeliveryFinishFragment.class
bin/classes/pt/ua/icm/bringme/DeliveryFinishPlaceholderFragment$OnDeliveryListener.class
bin/classes/pt/ua/icm/bringme/DeliveryFinishPlaceholderFragment.class
bin/classes/pt/ua/icm/bringme/LoginActivity$1.class
bin/classes/pt/ua/icm/bringme/LoginActivity$2.class
bin/classes/pt/ua/icm/bringme/LoginActivity$3.class
bin/classes/pt/ua/icm/bringme/LoginActivity$4.class
bin/classes/pt/ua/icm/bringme/LoginActivity$5$1.class
bin/classes/pt/ua/icm/bringme/LoginActivity$5.class
bin/classes/pt/ua/icm/bringme/LoginActivity$6$1.class
bin/classes/pt/ua/icm/bringme/LoginActivity$6.class
bin/classes/pt/ua/icm/bringme/helpers/AddressHelper.class
bin/classes/pt/ua/icm/bringme/models/Delivery$1.class
bin/classes/pt/ua/icm/bringme/models/Delivery.class
bin/classes/pt/ua/icm/bringme/models/User$1.class
bin/classes/pt/ua/icm/bringme/models/User.class
bin/dexedLibs/Parse-1.5.0-0d1ae90e1b2005fdd6a2a6ffe0352e62.jar
bin/dexedLibs/android-support-v4-914dce1ff3e39f0566df02bef9d8e461.jar
bin/dexedLibs/android-support-v7-appcompat-0d75c185a375b05817b461823f778cd8.jar
bin/dexedLibs/appcompat_v7-619c0f6bc5845cabac304f7cf22d7bf5.jar
bin/dexedLibs/bolts-fcf7e8a7e03e602de2e2a50034782584.jar
bin/dexedLibs/facebooksdk-b256e8cb18d36d3bf58e34ce01cc9716.jar
bin/dexedLibs/google-play-services-c74220f583840cb9455685adf0b2d2a5.jar
bin/dexedLibs/google-play-services_lib-e6834d99dcbe72153fc915a296060be8.jar
project.properties
bin/classes/pt/ua/icm/bringme/CourierMenuFragment$1$1.class
bin/classes/pt/ua/icm/bringme/CourierMenuFragment$1.class
bin/classes/pt/ua/icm/bringme/CourierMenuFragment$deliveryAdapter$1.class
bin/classes/pt/ua/icm/bringme/CourierMenuFragment$deliveryAdapter.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierListFragment$DeliveryCourierListAdapter$1.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierListFragment$DeliveryCourierListAdapter.class
bin/classes/pt/ua/icm/bringme/DeliveryCourierListFragment$OnDeliveryListener.class
bin/classes/pt/ua/icm/bringme/DeliveryFinishFragment$1$1.class
